<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="lead mt-4 text-center" style="color:black"><u>POLL RESULTS </u></h1>
            <p><marquee>(Refresh 2-3 times to see the updated result)</marquee></p>
            <h3 class="lead mt-4 text-center" style="color:gold">Realme= <%= rl %></h3>
            <h3 class="lead mt-4 text-center" style="color:crimson">Redmi= <%= rd %></h3>
        </div>
    </div>
</div>
